.App {
  margin: 10px;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.item-list input {
  min-height: 16px;
  outline: none;
  border: none;
}

.item-list input:focus {
  outline: none;
}
