body {
  background: rgb(209, 209, 209);
}
.App {
  width: 500px;
  min-height: 600px;
  margin: 10px auto;
  padding: 10px;
  justify-content: center;
  text-align: center;
  background: rgb(175, 174, 172);
}

li {
  list-style: none;
}

li.item-list {
  padding-left: 0px;
}

.row {
  max-height: 21px;
  align-items: stretch;
}

.col-md-2 {
  height: 21px;
  padding-left: 0px;
}

.col-md-2 input.item {
  margin-top: 0px;
  height: 21px;
  padding-top: 0px;
  outline: none;
  border: none;
  background: none;
}

.col-md-2 input:focus {
  outline: none;
}
